html, body {
    margin: 0;
}
  
html {
    font-family: Helvetica;
    height: 100%;
}
  
body {
    overflow: hidden;
    height: inherit;
    text-align: center;
}
  
h1 {
    font-size: 20pt;
    text-decoration: underline;
    color: green;
    margin-bottom: 2%;
}

input {
    font-size: 150%;
}

footer {
    line-height: 50%;
    margin-bottom: 2%;
    font-size: 14pt;
    font-style: italic;
}
